<!DOCTYPE html>
   <html>
    <head>
        <meta name="viewport" content="width=device-width">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Confirmación compra</title>
    </head>
    <body>
     <p style="font-size: 14px; font-weight: normal;">Para confirmar la compra <a class="link" href='{{url}}/apis/transactions/confirmation_purchase/{{token}}'>haz click aquí</a></p>
    </body>
   </html>